<mat-card class="todo-item ">
  <mat-card-header>

    <mat-card-title> Название напоминания: {{todo.name}}</mat-card-title>
    <mat-card-subtitle> Дата: {{todo.date}}</mat-card-subtitle>

  </mat-card-header>

  <mat-input-container floatPlaceholder="never">
    <mat-chip-list matPrefix >
      <mat-chip *ngFor="let tag of todo.tags; let i = index">
        {{tag}}
        <mat-icon (click)="remove(i)">cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
    <input matInput [matDatepicker]="picker" placeholder="Enter tag" [(ngModel)]="tagValue" #tag (keydown.enter)="add(tag.value)" (keydown.backspace)="removeByKey(chip.value)"
    />
  </mat-input-container>
</mat-card>