<div class="todo-form">



  <div class="row">
    <form>
      <mat-form-field>
        <input matInput name="nameSearch" [(ngModel)]="nameSearch" placeholder="Поиск по названию">
      </mat-form-field>
    </form>
    <todo-list *ngFor="let todo of todos | search:nameSearch" [todo]="todo"></todo-list>
  </div>
  <div class="row">
    <form (ngSubmit)="addItem(); todoForm.resetForm()" #todoForm='ngForm'>
      <mat-form-field>
        <input matInput name="name" [(ngModel)]="newTodo.name" placeholder="Input" #nameTodo="ngModel" placeholder="Введите название напоминания"
          required>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="datetime-local" value="+03:00" name="date" [(ngModel)]="newTodo.date" #dateTodo="ngModel" placeholder="Выберите дату и время" required>
      </mat-form-field>

      <button mat-raised-button type="submit" color="primary" [disabled]="nameTodo.invalid || dateTodo.invalid">Добавить</button>
    </form>
  </div>


</div>