<div class="todo-form">

  <div class="row">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>add</mat-icon>
          Добавить напоминание
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form class="form-items" (ngSubmit)="addItem(); todoForm.resetForm()" #todoForm='ngForm'>
        <mat-form-field>
          <input matInput name="name" [(ngModel)]="newTodo.name" #nameTodo="ngModel" placeholder="Введите название напоминания" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="datetime-local" [min]="minDate" max="2077-12-30T16:30" value="+03:00" name="date" [(ngModel)]="newTodo.date"
            #dateTodo="ngModel" placeholder="Выберите дату и время">
        </mat-form-field>

        <button mat-raised-button type="submit" color="primary" [disabled]="nameTodo.invalid">Добавить</button>
      </form>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>search</mat-icon>
          Поиск
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form>
        <mat-form-field>
          <input matInput name="nameSearch" [(ngModel)]="nameSearch" placeholder="Поиск по названию или тегу">
        </mat-form-field>
      </form>
    </mat-expansion-panel>
  </div>
  <div class="row">
    <todo-list *ngFor="let todo of todos | search:nameSearch" [todo]="todo"></todo-list>
  </div>


</div>