.todo-form {
  flex: 1;
  display: flex;
  flex-direction: column;
 }

.row{
   flex: 1;
   display: flex;
   flex-direction: column;
   margin:  10px;
 }

.form_size{
  flex: 1;
  display: flex;
  flex-direction: column;
  margin:  10px;
}

.mat-form-field{
  width: 90%;
  margin: 5px;
}
 
.form-items{
  flex: 1;
  display: flex;
  flex-direction: row;
}

.mat-card{
  flex: 1;
}

@media only screen and (max-width: 768px) {
  .form-items{
    flex: 1;
    display: flex;
    flex-direction: column;
  }
 
}