<div class="todo-form">
  <div class="row">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>add</mat-icon>
          Добавить напоминание
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form class="form-items" (ngSubmit)="addItem(); todoForm.resetForm()" #todoForm='ngForm'>
        <mat-form-field>
          <input matInput name="name" [(ngModel)]="newTodo.name" #nameTodo="ngModel" placeholder="Что нужнго сделать..." required>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="datetime-local" [min]="minDate" max="2077-12-30T16:30" value="+03:00" name="date" [(ngModel)]="newTodo.date"
            #dateTodo="ngModel" placeholder="Выберите дату и время">
        </mat-form-field>

        <button mat-raised-button type="submit" color="primary" [disabled]="nameTodo.invalid">Добавить</button>
      </form>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>search</mat-icon>
          Поиск
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form>
        <mat-form-field>
          <input matInput name="nameSearch" [(ngModel)]="nameSearch" placeholder="Поиск по названию или тегу">
        </mat-form-field>
      </form>
    </mat-expansion-panel>
  </div>

  <div class="row">
    <mat-tab-group>
      <mat-tab *ngIf="noCompletedTodos!=0" label="Текущие">
        <mat-card>
          <todo-list *ngFor="let todo of noCompletedTodos | search:nameSearch" [todo]="todo"> </todo-list>
        </mat-card>
      </mat-tab>
      <mat-tab *ngIf="noCompletedTodos == 0" label="Текущие">
        <span>Cписок пуст</span>
      </mat-tab>
      <mat-tab *ngIf="completedTodos != 0" label="Выполненные">
        <mat-card>
          <todo-list *ngFor="let todo of completedTodos | search:nameSearch" [todo]="todo"></todo-list>
        </mat-card>
      </mat-tab>
      <mat-tab *ngIf="completedTodos == 0" label="Выполненные">
        <span>Cписок пуст</span>
      </mat-tab>

      <mat-tab *ngIf="todos != 0" label="Все">
        <mat-card>
          <todo-list *ngFor="let todo of todos | search:nameSearch" [todo]="todo"></todo-list>
        </mat-card>
      </mat-tab>
      <mat-tab *ngIf="todos == 0" label="Все">
        <span>Cписок пуст</span>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>